*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}
body{
  background-color:#deeeff;
  display:flex;
  justify-content:center;
  align-items: center;
  height:100vh;
}
.container{
  width:700px;
  background-color:white;
  padding:40px;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
  box-shadow:0px 2px 16px rgba(0 , 0 , 0.1);
}
.tab_box{
  display:flex;
  justify-content:space-around;
  align-items:center;
  border-bottom:2px solid rgb(229 , 229, 229);
  position:relative;
}
.tab_box .tab_btn{
  padding:18px;
  text-transform: uppercase;
  border:none;
  background:transparent;
  font: size 1rem;
  font-weight:600;
  color:#919191;
  cursor: pointer;
}
.tab_box .tab_btn.active{
  color:#7360ff;
}
.line{
  background-color: #7360ff;
  position:absolute;
  bottom:0;
  left:8px;
  width:109px;
  height:3px;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
  transition:all 0.3s ease-in-out;;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -ms-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
}
.content_box{
  padding:20px;
}
.content_box .content{
  display:none;
  animation:moving 0.5s ease ;
  -webkit-animation:moving 0.5s ease ;
}
@keyframes moving {
  from{
    opacity: 0;
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
}
  to{
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}
.content_box .content.active{
  display:block;
}
.content_box .content h2{
  margin-bottom:10px;
  text-transform: uppercase;
}